<div class="flex flex-row justify-center p-4">
    <div class="flex gap-8 text-bg-100 font-mono">
        <div class="flex align-center gap-2">
            <img src="favicon.png" class="w-6 h-6 rounded-sm" />
            <a
                class="border-b-2 border-transparent font-bold hover:border-b-2 hover:border-bg-100"
                href="/">Pomomon Club</a
            >
        </div>
        <a
            class="border-b-2 border-transparent hover:border-b-2 hover:border-bg-100"
            href="/specifications/latest">Leaderboard Standard</a
        >
        <a
            class="border-b-2 border-transparent hover:border-b-2 hover:border-bg-100"
            href="https://github.com/Liphium/pomomon-club">GitHub</a
        >
    </div>
</div>
