<div class="flex items-center justify-center w-screen h-screen">
    <div class="flex flex-col justify-center p-6 gap-4 w-full max-w-xl">
        <h1 class="text-bg-100 font-pixel text-xl">POMOMON CLUB STANDARDS</h1>
        <p class="text-bg-200 font-pixel text-lg text-justify">
            We're aiming to create open leaderboard standards for Pomomon Farm
            and its successors. The first Pomomon Club Open Standard will be
            published on this page, once it's finalized.
        </p>
        <div class="flex gap-8 text-p-blue-100 font-pixel">
            <a
                class="border-b-2 border-transparent border-dashed hover:border-b-2 hover:border-p-blue-100"
                href="https://github.com/Liphium/pomomon-club">GitHub</a
            >
        </div>
    </div>
</div>
